{
	"presets": [["@babel/preset-env", {
		"modules": false,
		"targets": { "browsers": ["> 1%", "not ie > 0", "not dead"] }
	}]],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties"],
		["@babel/transform-react-jsx", { "pragma": "h", "useBuiltIns": true }]
	]
}
