{
	"presets": [["@babel/preset-env", {
		"modules": false,
		"loose": true,
		"shippedProposals": true,
		"targets": { "browsers": ["> 1%", "not ie > 0", "not dead"] }
	}]],
	"plugins": [
		["@babel/transform-react-jsx", { "pragma": "h", "useBuiltIns": true }]
	]
}
