{
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true,
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"pragma": "h",
			"version": "16.3.0"
		}
	},
	"rules": {
		// React
		"react/button-has-type": "error",
		"react/display-name": "off",
		"react/no-access-state-in-setstate": "error",
		"react/no-array-index-key": "warn",
		"react/no-did-mount-set-state": "error",
		"react/no-did-update-set-state": "error",
		"react/no-multi-comp": "warn",
		"react/no-typos": "error",
		"react/no-this-in-sfc": "error",
		"react/no-unsafe": "warn",
		"react/no-will-update-set-state": "error",
		"react/prefer-es6-class": "error",
		"react/prop-types": "off",
		"react/self-closing-comp": "warn",
		"react/style-prop-object": "warn",
		"react/void-dom-elements-no-children": "error",

		// JSX-specific rules
		"react/jsx-boolean-value": "warn",
		"react/jsx-closing-bracket-location": ["warn", "after-props"],
		"react/jsx-closing-tag-location": "warn",
		"react/jsx-curly-spacing": "warn",
		"react/jsx-equals-spacing": "warn",
		"react/jsx-filename-extension": "error",
		"react/jsx-first-prop-new-line": ["warn", "multiline"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-max-props-per-line": ["warn", { "when": "multiline" }],
		"react/jsx-no-bind": ["error", { "ignoreRefs": true }],
		"react/jsx-pascal-case": "error",
		"react/jsx-props-no-multi-spaces": "warn",
		"react/jsx-tag-spacing": "warn",
		"react/jsx-wrap-multilines": ["warn", {
			"declaration": "parens-new-line",
			"assignment": "parens-new-line",
			"return": "parens-new-line",
			"arrow": "parens-new-line"
		}],

		// Possible Errors
		"for-direction": "warn",
		"no-await-in-loop": "warn",
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-empty": ["warn"],
		"no-unreachable": "error",

		// Best Practices
		"array-callback-return": "warn",
		"consistent-return": "warn",
		"curly": "warn",
		"dot-location": ["warn", "property"],
		"eqeqeq": ["warn", "always", { "null": "ignore" }],
		"guard-for-in": "error",
		"max-classes-per-file": "warn",
		"no-alert": "error",
		"no-caller": "error",
		"no-empty-function": ["warn", {
			"allow": ["functions", "arrowFunctions", "constructors"]
		}],
		"no-empty-pattern": "off",
		"no-eval": "error",
		"no-extend-native": "warn",
		"no-extra-bind": "error",
		"no-extra-label": "warn",
		"no-fallthrough": "warn",
		"no-floating-decimal": "warn",
		"no-implied-eval": "error",
		"no-lone-blocks": "warn",
		"no-loop-func": "warn",
		"no-multi-spaces": "warn",
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-octal-escape": "error",
		"no-return-await": "error",
		"no-self-compare": "error",
		"no-sequences": "warn",
		"no-throw-literal": "error",
		"no-unused-expressions": ["warn", { "allowShortCircuit": true }],
		"no-useless-call": "warn",
		"no-useless-concat": "warn",
		"no-useless-return": "warn",
		"radix": "warn",

		// Variables
		"no-label-var": "warn",
		"no-restricted-globals": "error",
		"no-shadow": "error",
		"no-shadow-restricted-names": "error",
		"no-use-before-define": "error",

		// Node.js and CommonJS
		"callback-return": "error",
		"global-require": "warn",
		"no-buffer-constructor": "error",
		"no-mixed-requires": "error",
		"no-new-require": "error",
		"no-path-concat": "error",

		// Stylistic Issues
		"array-bracket-newline": ["warn", "consistent"],
		"array-bracket-spacing": "warn",
		"block-spacing": "warn",
		"brace-style": ["warn", "stroustrup"],
		"camelcase": "warn",
		"comma-dangle": ["warn", "never"],
		"comma-spacing": "warn",
		"comma-style": "warn",
		"computed-property-spacing": "warn",
		"eol-last": "error",
		"func-call-spacing": "warn",
		"function-paren-newline": ["warn", "consistent"],
		"indent": ["error", "tab", {
			"SwitchCase": 1,
			"ignoredNodes": ["JSXIdentifier"]
		}],
		"key-spacing": "warn",
		"keyword-spacing": "warn",
		"linebreak-style": ["error", "unix"],
		"lines-between-class-members": ["warn", "always", { "exceptAfterSingleLine": true }],
		"new-cap": "warn",
		"new-parens": "warn",
		"no-array-constructor": "error",
		"no-lonely-if": "warn",
		"no-mixed-operators": ["error", {
			"groups": [
				["&", "|", "^", "~", "<<", ">>", ">>>"],
				["==", "!=", "===", "!==", ">", ">=", "<", "<="],
				["&&", "||"],
				["in", "instanceof"]
			]
		}],
		"no-mixed-spaces-and-tabs": "error",
		"no-new-object": "warn",
		"no-trailing-spaces": "error",
		"no-unneeded-ternary": "warn",
		"no-whitespace-before-property": "warn",
		"object-curly-newline": ["warn", { "consistent": true }],
		"object-curly-spacing": ["warn", "always"],
		"object-property-newline": ["warn", { "allowAllPropertiesOnSameLine": true }],
		"one-var": ["error", "never"],
		"operator-assignment": "warn",
		"operator-linebreak": ["warn", "before"],
		"prefer-object-spread": "warn",
		"quote-props": ["warn", "consistent"],
		"quotes": ["warn", "single"],
		"semi": "error",
		"semi-spacing": "warn",
		"semi-style": "warn",
		"space-before-blocks": "warn",
		"space-before-function-paren": ["warn", {
			"anonymous": "always",
			"named": "never",
			"asyncArrow": "always"
		}],
		"space-in-parens": "warn",
		"space-infix-ops": "warn",
		"space-unary-ops": "warn",
		"spaced-comment": "warn",
		"switch-colon-spacing": "warn",
		"template-tag-spacing": "warn",
		"unicode-bom": "error",

		// ECMAScript 6
		"arrow-parens": ["warn", "as-needed"],
		"arrow-spacing": "warn",
		"no-const-assign": "error",
		"no-duplicate-imports": "warn",
		"no-useless-computed-key": "error",
		"no-useless-constructor": "error",
		"no-useless-rename": "error",
		"no-var": "error",
		"object-shorthand": ["warn", "consistent-as-needed"],
		"prefer-arrow-callback": "warn",
		"prefer-const": "warn",
		"prefer-numeric-literals": "warn",
		"prefer-rest-params": "warn",
		"prefer-spread": "warn",
		"prefer-template": "warn",
		"rest-spread-spacing": "warn",
		"template-curly-spacing": "warn",
		"yield-star-spacing": "warn"
	}
}
