$plotery-reference-color: black !default;
$plotery-grid-color: black !default;
$plotery-major-opacity: 0.25 !default;
$plotery-minor-opacity: 0.12 !default;

@mixin plotery-axis(
	$reference-color: $plotery-reference-color,
	$grid-color: $plotery-grid-color,
	$major-opacity: $plotery-major-opacity,
	$minor-opacity: $plotery-minor-opacity
) {
	.axis {
		stroke-width: 1px;

		.grid {
			fill: none;
			stroke: $grid-color;
			stroke-dasharray: 3px;
			shape-rendering: crispEdges;

			&.major {
				stroke-opacity: $major-opacity;
			}

			&.minor {
				stroke-opacity: $minor-opacity;
			}
		}

		.reference {
			fill: none;
			stroke: $reference-color;
			shape-rendering: crispEdges;
		}

		&.y.start .labels {
			text-anchor: end;
			transform: translate(-5px, 6px);
		}

		&.y.end .labels {
			text-anchor: start;
			transform: translate(calc(100% + 5px), 6px);
		}

		&.x.start .labels {
			text-anchor: middle;
			transform: translate(0, calc(-8px - 100%));
		}

		&.x.end .labels {
			text-anchor: middle;
			transform: translate(0, 20px);
		}

		&.polar .labels {
			text-anchor: middle;
		}

		/* experimental: move labels of polar axes out of plot */
		&.polar .labels {
			transform-origin: 50% 50%;
			font-size: 91%;
			transform: translateY(1.5%) scale(1.1);

			text:where(:first-child) {
				display: none;
			}
		}
	}
}
