$plotery-backdrop-color: black !default;
$plotery-backdrop-opacity: 0.05 !default;
$plotery-outline-color: black !default;
$plotery-outline-opacity: 0.3 !default;

@mixin plotery-interactions(
	$backdrop-color: $plotery-backdrop-color,
	$backdrop-opacity: $plotery-backdrop-opacity,
	$outline-color: $plotery-outline-color,
	$outline-opacity: $plotery-outline-opacity
) {
	.box-zoom {
		fill: $backdrop-color;
		stroke: $outline-color;
		stroke-width: 1px;

		.backdrop {
			fill-opacity: $backdrop-opacity;
			fill-rule: evenodd;
			stroke: none;
		}

		.outline {
			fill: none;
			stroke-opacity: $outline-opacity;
			shape-rendering: crispEdges;
		}
	}
}
