$plotery-line-width: var(--plotery-line-width, 2px) !default;
$plotery-area-opacity: var(--plotery-area-opacity, 0.3) !default;
$plotery-bars-width: var(--plotery-bars-width, 10px) !default;

@mixin plotery-plot(
	$line-width: $plotery-line-width,
	$area-opacity: $plotery-area-opacity,
	$bars-width: $plotery-bars-width
) {
	.plot {
		&.line {
			stroke-width: $line-width;
		}

		&.bar {
			stroke-width: $bars-width;
		}

		.line, .bars {
			fill: none;
		}

		.area {
			stroke: none;
			fill-opacity: $area-opacity;
		}
	}
}

@mixin plotery-plot-color(
	$selector: '.plot',
	$color: $plotery-line-color
) {
	#{$selector} {
		&.line, &.bar {
			stroke: $color;
			fill: $color;
		}
	}
}

@mixin plotery-plot-element-color(
	$selector: '.element',
	$color: $plotery-line-color
) {
	#{$selector} {
		fill: $color;
	}
}
