$plotery-backdrop-color: black !default;
$plotery-backdrop-opacity: 0.05 !default;
$plotery-outline-color: black !default;
$plotery-outline-opacity: 0.3 !default;

@mixin plotery-zoom(
	$backdrop-color: $plotery-backdrop-color,
	$backdrop-opacity: $plotery-backdrop-opacity,
	$outline-color: $plotery-outline-color,
	$outline-opacity: $plotery-outline-opacity
) {
	.zoom {
		.backdrop {
			fill: $backdrop-color;
			fill-opacity: $backdrop-opacity;
			fill-rule: evenodd;
		}

		.outline {
			fill: none;
			stroke: $outline-color;
			stroke-width: 1px;
			stroke-opacity: $outline-opacity;
			shape-rendering: crispEdges;
		}

		.event-sink {
			opacity: 0;
		}
	}
}
