$plotery-include-classes: true !default;
$plotery-margin: 50px !default;
$plotery-series-colors: (
	#7098e0,
	#8070d0,
	#c070c0,
	#d86868,
	#d0a050,
	#90c860,
	#50c0a0,
	#98a0a8,
) !default;

@import 'axis';
@import 'plot';
@import 'interactions';

@mixin plotery($margin: $plotery-margin) {
	.plotery {
		@include plotery-plot();
		@include plotery-axis();
		@include plotery-interactions();

		@for $i from 0 to length($plotery-series-colors) {
			@include plotery-plot-color(
				'.plot:where(:nth-of-type(4n+#{$i + 1}))',
				nth($plotery-series-colors, $i + 1)
			);
			@include plotery-plot-element-color(
				'.plot .element:where(:nth-of-type(4n+#{$i + 1}))',
				nth($plotery-series-colors, $i + 1)
			);
		}

		margin: $margin;

		> svg {
			width: 100%;
			height: 100%;
		}
	}
}

@if $plotery-include-classes {
	@include plotery();
}
